{% extends "leave_templates/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load bootstrap3 %}
{% block content %}
  <html lang="en">
    <head>
      <meta charset="utf-8" />
  
      <title>Login Page!</title>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron">
          {% if user.is_authenticated %}
          <p>Hey {{ user.username }}, Welcome Back</p>
          <p>Email: {{ user.email }}</p>
          <a class="btn " href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a
            class="btn btn-primary"
            href="{% url 'social:begin' 'google-oauth2' %}"
          >
            Login
          </a>
          {% endif %}
        </div>
  
        <div class="content-section">
          {% if user.is_authenticated %}
          
          {% else %}
          <a class="btn btn-sm" href="{% url 'social:begin' 'google-oauth2' %}">
            <p>
              <img src="https://image.flaticon.com/icons/svg/281/281764.svg" />
              Sign In
            </p>
          </a>
          {% endif %}
        </div>
      </div>
    </body>
  </html>
  
  {% endblock content %}
  