{% extends "leave_templates/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <h4 style="font-style: oblique;">Employee Directory</h4>
    <h4 style="font-style: italic;">Key  -  Value Pairs Visual Data Directory</h4>
    <div >
        {% for employee_details in data %}
        <br>
        {% for k, v in employee_details.items %}
        <ol>
            <p>{{ k }} : {{ v }}</p>
        </ol>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
