{% extends "leave_templates/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
  <h4 style="font-style: oblique;">Employee Directory</h4>
  <div>
    {% for item in employee %}
    <br>
    <p >Name: {{ item.Employee_Full_Name }}</p>
    <hr>
    <ul>
      <li>Work_Email: {{ item.email }}</li>
      <li>Line_Manager: {{ item.Line_Manager }}</li>
      <li>HR_Employee_ID: {{ item.HR_Employee_ID }}</li>
      <li>Employee_Active: {{ item.Employee_Active }}</li>
      <li>IsDeleted : {{ item.IsDeleted }} </li>
    </ul>
    {% endfor %}
  </div>
</div>
{% endblock content %}
